{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>DAP Graph Plotter</title>
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.css" rel="stylesheet" type="text/css">
        <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link rel="stylesheet" href="http://www.askprateek.com/style.css">
    </head>
    <body>
      <nav>
        <div class="nav-wrapper" style= "background:#FFC107">
          <a href="/" class="brand-logo center">Graph Plotter</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="http://www.askprateek.com/">Contact</a></li>
              <li><a href="https://github.com/askprateek/">Github</a></li>
              <li><a href="https://twitter.com/AskPK123">Twitter</a></li>
              <li><a href="https://github.com/askprateek/Django-Graph-Plotter">Fork</a></li>
            </ul>
          </div>
      </nav>
      <div class="container">
        <div class="row">

          <div class="col s12 m6">
            <form method="post" action >

            <div class="row">
              <div class="col s12">
                <label for="equation">Polynomial Equation - f(x)</label>
                <input type ="text" id = "equation" name = "equation">
              </div>
            </div>

            <div class="row">
              <div class="col s12">
                <label for="domain">Domain of Equation</label>
                <input type = "text" id = "domain" name = "domain">
              </div>
            </div>

            <div class="row">
              <div class="col s12">
                <button class="button">Draw Graph</button>
              </div>
            </div>

          </form>
          </div>


          <div class="col s12 m6 center-align">
            {{ div | safe }}
          </div>

        </div>
      </div>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.js"></script>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.js"></script>
        {{ script | safe }}
    </body>
</html>
