alabaster==0.7.8
argcomplete==1.0.0
astropy==1.2.1
Babel==2.3.3
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.4.1
bitarray==0.8.1
bokeh==0.12.0
boto==2.40.0
Bottleneck==1.0.0
cffi==1.6.0
chest==0.2.3
click==6.6
cloudpickle==0.2.1
clyent==1.2.1
colorama==0.3.7
Cython==0.24
decorator==4.0.10
dill==0.2.5
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.9.7
django-toolbelt==0.0.1
gunicorn==19.6.0
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.3.0
jupyter-console==4.1.1
jupyter-core==4.1.0
numpy==1.11.0
psycopg2==2.6.1
pyasn1==0.1.9
pycosat==0.6.1
pycparser==2.14
pycrypto==2.6.1
requests==2.10.0
scikit-image==0.12.3
scikit-learn==0.17.1
scipy==0.17.1
six==1.10.0
sympy==1.0
